<!--customer_levels.hbs-->
<h1>Customer Levels</h1>
<body>    
    [ <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/employees">Employees</a> | <a href="/orders">Orders</a> | <a href="/films">Films</a> | <a href="/orders_films">Orders_Films</a> | <a href="/customer_levels">Customer Levels</a> ]
</body>
<div id="browse" style="display: block">
    <p>
        <strong>Browse Customer Levels</strong>
    </p>
    <table border="1" cellpadding="5">
        <tbody>
            <tr>
                <th>customer level id</th>
                <th>level name</th>
                <th>level description</th>
                <th>discount percent</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Platinum</td>
                <td>20% Discount</td>
                <td>0.20</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Gold</td>
                <td>10% Discount</td>
                <td>0.10</td>
            </tr>
             <tr>
                <td>3</td>
                <td>Silver</td>
                <td>5% Discount</td>
                <td>0.05</td>
            </tr>           
        </tbody>
    </table> 
</div>
<p>&nbsp;</p>   
<div id="insert" style="display: block">
    <form id="addCustomerLevel">
        <legend>
            <strong>Add Customer Level</strong>
        </legend>
        <fieldset class="fields">
            <label>Level Name</label>
            <input type="text" name="name">
            <label>Level Description</label>
            <input type="text" name="description">
            <label>Discount Percent</label>
            <input type="number" name="discount">  
        </fieldset>
        <input class="btn" type="submit" id="addCustomerLevel" value="Add Customer Level">
        <input class="btn" type="button" value="Cancel">
    </form>
</div>