<!--orders_films.hbs-->
<h1>Orders_Films</h1>
<body>    
    [ <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/employees">Employees</a> | <a href="/orders">Orders</a> | <a href="/films">Films</a> | <a href="/orders_films">Orders_Films</a> | <a href="/customer_levels">Customer Levels</a> ]
</body>
<div id="browse" style="display: block">
    <p>
        <strong>Browse Orders_Films</strong>
    </p>
    <table border="1" cellpadding="5">
        <tbody>
            <tr>
                <th>Order ID</th>
                <th>Film ID</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1</td>
            </tr>
             <tr>
                <td>3</td>
                <td>3</td>
            </tr>           
        </tbody>
    </table> 
</div>
<p>&nbsp;</p>   
<div id="insert" style="display: block">
    <form id="addOrdersFilms">
        <legend>
            <strong>Add Order_Films</strong>
        </legend>
        <fieldset class="fields">
            <label>Order ID</label>
            <input type="text" name="orderID">
            <label>Film ID</label>
            <input type="text" name="filmID">
        </fieldset>
        <input class="btn" type="submit" id="addOrdersFilms" value="Add Orders_Films">
        <input class="btn" type="button" value="Cancel">
    </form>
</div>